.dashboard_1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: linear-gradient(90.23deg, #05edb3 0.02%, #5ffb69 99.63%);
}

.dashboard_2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background: linear-gradient(90.23deg, #05edb3 0.02%, #5ffb69 99.63%);
}

.dashboard-content {
  border-radius: 60px 60px 0 0;
  position: absolute;
  background-color: white;
  top: 218px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 55px 105px;
}
