.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.header{
  background-color: black;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.dashboard-content{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 5% 5% 5%;
  background-color: red;
}