.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(43, 43, 230);
}

.signin-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  width: 390px;
  min-height: 450px;
  padding: 30px 20px;
}

.signin-form .title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.signin-form input {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 3px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.signin-form button {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 47, 245);
  height: 45px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.signin-form button:hover {
  background-color: rgb(83, 83, 255);
}
